table{
    background-color: rgb(240, 134, 134);
}
table th{
    border: 1px solid rgb(2, 2, 2);
    background-color: rgb(48, 37, 37);
    color: white;
    padding: 4px;
}
table td{
    padding: 4px;
    background-color: rgb(199, 199, 199);
}


